@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-popins);
}

li {
  list-style: none;
}

/* Variable */
:root {
  /*color*/
  --primary: #01803d;
  --secondary: #8b0101;
  --danger: #ed1c24;
  --white: #fff;
  --balck: #000;
  /*font family*/
  --font-popins: 'Poppins', 'sans-serif';
}

/* ----------------------------------Top Ba-------------------------------- */
.topbar a {
  color: var(--white);
  font-size: 15px;
  margin: 0 20px;
  text-decoration: none;
}
/* ----------------------------------Top Ba-------------------------------- */
/* ------------------------------------Nav--------------------------------- */
.navbar-nav li {
  padding: 0 15px;
  font-weight: bold;
}
.navbar-brand img {
  width: 72px;
  height: 72px;
  z-index: 10000;
}
.navbar-brand span {
  font-size: 24px;
  font-style: italic;
}

.dropdown-hover:hover > .dropdown-menu {
  display: block;
  left: 0;
}

.dropdown-hover > .dropdown-toggle:active {
  pointer-events: none;
}
/* -----------------------------------/Nav--------------------------------- */
/* ----------------------------------Home---------------------------------- */
.social-icon i {
  width: 40px;
  height: 40px;
  background-color: var(--white);
  color: rgb(9, 112, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.social-icon i:hover {
  background-color: rgb(9, 112, 230);
  color: var(--white);
}
.home-academics {
  background-image: url('/assets/img/home/backgound.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.glance-bg {
  background: #000000a6;
}

/* ---------------------------------/Home---------------------------------- */
/* ---------------------Faculty of Business Studies------------------------ */
/* --------------------/Faculty of Business Studies------------------------ */
/* -----------------------------Campus Life-------------------------------- */
/* ----------------------------/Campus Life-------------------------------- */

/*=================================BONGHABONDHU======================== */

.bb-navbar-nav li {
  padding: 0 8px;
  font-weight: bold;
  color: var(--white);
}
.bb-navbar-nav li a {
  color: var(--white);
}
.bb-navbar-nav li a:hover {
  color: var(--secondary);
}
.bb-hero-section {
  height: 500px;
  background-image: url('/assets/img/bb/Bangonondo.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bb-baner-section {
  height: 500px;
  background-image: linear-gradient(
      rgba(13, 202, 76, 0.75),
      rgba(1, 39, 11, 0.75)
    ),
    url('/assets/img/bb/bb-banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bb-persons-card {
  width: 270px;
  height: 330px;
  background-color: #006a4e;
}
.bb-card-content h1 {
  text-align: center;
  font-size: 16px;
  padding: 10px 5px;
  color: var(--white);
}
.bb-card-content p {
  font-size: 12px;
  color: var(--white);
  text-align: center;
}
.bb-banner-card {
  width: 100%;
  height: 585px auto;
  background-color: #006a4e;
}

/*===============================BONGHABONDHU======================== */
/* --------------------------Senate Member--------------------------- */
.scm-hero {
  height: 250px;
  background-image: linear-gradient(
      rgba(13, 202, 76, 0.75),
      rgba(1, 39, 11, 0.75)
    ),
    url('/assets/img/vc/vc-cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.scm-social-icon {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: end;
  /* align-content: end; */
  align-self: end;
  margin-top: 15px;
}
.scm-social-icon a {
  text-decoration: none;
}
.scm-social-icon i {
  width: 40px;
  height: 40px;
  background-color: var(--white);
  color: #006a4e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
}
.scm-social-icon i:hover {
  background-color: #006a4e;
  color: var(--white);
}

/* -------------------------/Senate Member--------------------------- */
/*==============================OFFICER PROFILE====================== */
.officer-banner {
  height: 200px;
  background-image: linear-gradient(
      rgba(13, 202, 76, 0.75),
      rgba(1, 39, 11, 0.75)
    ),
    url('/assets/img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.profile-nav a {
  color: gray;
  text-decoration: none;
  margin: 0 20px;
  position: relative;
  font-weight: bold;
}
.profile-nav a:hover {
  color: var(--primary);
}

/* .profile-nav a::after {
  content: "";
  height: 3px;
  width: 0;
  background: var(--primary);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.profile-nav a:hover::after {
  width: 100%;
} */

.footer-content {
  margin-top: 20px;
}
.footer-links a {
  text-decoration: none;
  color: var(--white);
}
.social-icon i {
  width: 40px;
  height: 40px;
  background-color: var(--white);
  color: rgb(9, 112, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 20px;
}
/*==============================OFFICER PROFILE====================== */
/*=============================CAMPUS LIFE======================= */
.campus-banner {
  height: 300px;
  background-image: linear-gradient(
      rgba(13, 202, 76, 0.75),
      rgba(1, 39, 11, 0.75)
    ),
    url('/assets/img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-border {
  width: 330px;
  height: 300px;
  border: 10px solid red;
}
.card-border img {
  margin-left: 10px;
}

.campus-safety-container {
  height: 270px;
}

/*=============================CAMPUS LIFE======================= */

/* VC Offices */
.vc-banner {
  height: 350px;
  background-image: url('/assets/img/vc-banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.vc-contact-card {
  background-color: red;
  width: 370px;
  height: 230px;
}
.contact-icon i {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}
.officer-card {
  width: 564px;
  height: 180px;
}

/* Business Studies */
.business-navbar-nav li {
  padding: 0 10px;
  font-weight: bold;
}

.business-banner {
  height: 300px;
  background-image: linear-gradient(
      rgba(31, 33, 32, 0.75),
      rgba(175, 182, 177, 0.75)
    ),
    url('/assets/img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.business-banner-card {
  height: 300px;
  background-image: linear-gradient(
      rgba(31, 33, 32, 0.75),
      rgba(175, 182, 177, 0.75)
    ),
    url('/assets/img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.business-card-img img {
  width: 220px;
  height: 270px;
  border-radius: 100%;
}
.business-card-content {
  width: 270px;
  height: 95px;
  box-shadow: 0px 0px 50px 0px #0000001f;
}
.business-card-content h1 {
  font-size: 16px;
  padding: 10px 5px;
}
.business-card-content p {
  font-size: 12px;
  color: #00aeef;
  text-align: center;
}

/*============================FACULTY PROFILE======================== */
.faculty-profile-banner {
  height: 200px;
  background-image: linear-gradient(
      rgba(13, 202, 76, 0.75),
      rgba(1, 39, 11, 0.75)
    ),
    url('/assets/img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.faculty-profile-content h1 {
  font-size: 18px;
  color: #d9aa16;
}
.faculty-profile-content p {
  font-size: 12px;
}
.faculty-social-icon {
  width: 30px;
  height: 30px;
  background-color: #047c3b;
  margin: 0 5px;
}
.faculty-social-icon img {
  width: 24px;
}
.faculty-contact h1 {
  font-size: 14px;
}
.faculty-card {
  width: 100px;
  height: 150px;
  background: linear-gradient(180deg, #047c3b 0%, rgba(4, 124, 59, 0.3) 100%);
  border-radius: 15px;
}
.faculty-card:hover {
  background: linear-gradient(180deg, #d9aa16 0%, rgba(217, 170, 22, 0) 100%);
}
.faculty-icon {
  padding: 10xp;
}
.faculty-icon img {
  width: 40px;
  height: 40px;
}
/*============================FACULTY PROFILE======================== */
/*============================ACADEMICS======================== */
.program-type h1 {
  font-size: 25px;
  line-height: 24px;
  color: #fe4a51;
  font-weight: bold;
}
.program-text h1 {
  font-size: 20px;
  line-height: 24px;
  color: #7b7b7b;
  margin-bottom: 0;
}
.program-text p {
  font-size: 12px;
  line-height: 15px;
  border: 2px solid #7b7b7b;
  padding: 7px;
  margin-bottom: 0;
}
/*============================ACADEMICS======================== */
/*============================BREAK POINT======================== */
@media only screen and (max-width: 768px) {
  .topbar {
    display: none;
  }
}
/*============================BREAK POINT======================== */
